﻿
.k-upload-status {
    right: auto !important;
    left: 12px;
}


.k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active {
    background-color: transparent !important;
}

.k-edit-label, .k-edit-form-container .editor-label {
    text-align: left !important; 
}

.k-loading {
    border-top-style: none !important;
    color:red;
}


.k-calendar {
    font-family: Tahoma !important;
}

.k-state-focused, .k-button:focus, .k-button.k-state-focused, .k-button:focus:active {
    box-shadow: none;
}

.k-multiselect span[style*="hidden"] {
    top: 0 !important;
    left: 0 !important
}

.k-datepicker {
    max-width: 160px !important;
}

div.k-window-content {
    overflow: auto !important;
}


.k-menu .k-state-hover > .k-link {
    background-color: transparent !important;
}

.k-panelbar .k-tabstrip > .k-content, .k-tabstrip > .k-content {
    position: static;
    border-style: solid;
    border-width: 1px;
    margin: 0 .286em .3em;
    padding: 5px;
    zoom: 1;
}

.k-grid-content {
    min-height: 100px;
}

@media screen and (max-width: 991px) {
    #abfaProjectInfo .k-multiselect {
        margin-right: 31%;
    }
}

@media screen and (min-width: 992px) {
    #abfaProjectInfo .k-multiselect {
        margin-right: -15px;
    }
}

html .k-grid tr.k-alt:hover {
    background: #f1f1f1;
}

.k-grid tr:hover {
    background-color: transparent !important;
}

select:disabled {
    background: #dddddd;
}


.k-pager-wrap .k-dropdown {
    width: 5.9em; /* specify the width */
}

.k-state-hover .k-multiselect-wrap .k-button {
    color: black !important;
}

.k-event-delete {
    color: black !important;
}

.k-menu .k-item > .k-link, .k-menu-scroll-wrapper .k-item > .k-link, .k-popups-wrapper .k-item > .k-link {
    display: block;
    padding: 6px !important;
}

.k-menu .k-item, .k-widget.k-menu-horizontal > .k-item {
    border-width: 0 0 0 1px;
}

.k-toolbar .k-button.k-state-active:hover, .k-split-container .k-button.k-state-active:hover, .k-overflow-container .k-button.k-state-active:hover, .k-panelbar > li > .k-link.k-state-selected {
    color: #231e4c !important;
}
.k-grid td {
    line-height: 1.3em;
}

.k-autocomplete, .k-block, .k-calendar .k-link, .k-calendar td, .k-calendar-container, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-drag-clue, .k-dropdown, .k-dropdown-wrap, .k-editor-inline, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-inline-block, .k-list-container, .k-multiselect, .k-notification, .k-numeric-wrap, .k-numerictextbox, .k-picker-wrap, .k-slider-selection, .k-slider-track, .k-split-button, .k-textbox, .k-tile, .k-timepicker, .k-tooltip, .k-touch-scrollbar, .k-treeview .k-in, .k-upload, .k-window, .k-window-action, .k-window-titleless .k-window-content {
    border-radius: 2px;
}

    .k-button .btnSave .k-primary .k-autocomplete .k-input, .k-multiselect-wrap, .k-textbox > input {
        border-radius: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
