﻿
.k-edit-label{
	  font-size: 12px;
	 /*font-family:webyekan;*/
	 font-weight:normal;
}
.k-grid-header th.k-header > .k-link {
    /*font-family: webyekan, BTitr, Tahoma;*/
    font-size: 13px;
}

.k-header, .k-grid-header {       
    /*font-family: webyekan,BTitr,Tahoma;*/
    font-size: 13px;   
}

.k-content{
    /*font-family: webyekan;*/
}


.toolbarMenu32 
  {
   background:none no-repeat transparent;
   border: none;
}

.k-column-menu .k-sprite {
    margin-left: 10px;
}

.k-menu .k-item > .k-link{
     color: #c6f0f0;
}
.k-column-menu .k-menu .k-item > .k-link{
     color: black;
}

.toolbarMenu32 .k-group {
    border: none;
    background-color: #157fb3;
}
.k-state-active:hover {
    background-color: #157fb3;
}
.toolbarMenu32 .k-i-arrow-s {
    background-position: -177px -206px;
}
.toolbarMenu32 .k-state-hover:hover {
    background-color: #157fb3;
    background-position: -177px -206px;
}
.toolbarMenu32 .k-link:hover:not(.k-state-disabled) > .k-i-arrow-s  {
   
    background-position: -177px -206px;
}

.k-grid-norecords-template{
    border: none;
}
