.k-toolbar .k-button.k-state-active:hover, .k-split-container .k-button.k-state-active:hover, .k-overflow-container .k-button.k-state-active:hover, .k-panelbar > li > .k-link.k-state-selected {
    color: #231e4c!important;
}
.k-toggle-button{
    border-style:dashed !important;
}
.k-toggle-button:active, .k-button.k-state-active {       
    border-color: #FC8F00 !important;
    border-style:solid !important;
}
.k-datetimepicker {
    width: 16em;
}
button[disabled], html input[disabled] {
    cursor: default;
    color: #888;
}