﻿@{ ViewBag.Title = "لیست کتاب های کتابخانه"; }

<span id="notification"></span>
<div id="mainContent">
    <div class="inner-toolbar clearfix" style="position:inherit;">
        <ul>
            <li>
                <a href="#" data-bind="events: { click: additem }">کتاب جدید</a>
            </li>
            <li>
                <a href="#" data-bind="events: { click: edititem }">ویرایش</a>
            </li>
            <li>
                <a href="#" data-bind="events: { click: deleteitem }">حذف</a>
            </li>
        </ul>
    </div>
    <div data-userman-role="grid">

    </div>
    <div id="aeWindow">
        <div style="margin: 10px;">
            <div class="row" style="margin-bottom:10px">
                <span class="col-sm-1">
                    <label>کتاب:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="dropdownlist"
                           data-value-primitive="true"
                           data-text-field="Name"
                           data-value-field="Id"
                           data-bind="value: selected.BookId,
                          source: bookDataSource" />
                </span>
            </div>
            <div class="row" style="margin-bottom:20px">
                <span class="col-sm-1">
                    <label>نویسنده:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="dropdownlist"
                           data-value-primitive="true"
                           data-text-field="FullName"
                           data-value-field="Id"
                           data-bind="value: selected.AuthorId,
                          source: authorDataSource" />
                </span>
            </div>
            <div class="row" style="margin-bottom:20px">
                <span class="col-sm-1">
                    <label>ژانر:</label>
                </span>
                <span class="col-sm-6">
                    <input id="genre"
                           data-bind="value: selected.GenreId"/>
                </span>
            </div>
            <div class="row" style="margin-bottom:20px">
                <span class="col-sm-1">
                    <label>دسته:</label>
                </span>
                <span class="col-sm-6">
                    <input id="subGenre"
                           data-bind="value: selected.SubGenreId"/>
                </span>
            </div>
            <button class="k-primary" data-role="button"
                    data-bind="events: { click: sync }"
                    style="width: 60px; height: 30px">
                ذخیره
            </button>
            <button data-role="button"
                    data-bind="events: { click: cancel }"
                    style="width: 60px; height: 30px">
                انصراف
            </button>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/Admin/bookManagement.js"></script>

    <script>$("#mainContent").bookManagement({

        });</script>
}
