﻿@{
    ViewBag.Title = "مدیریت آیتم‌ها";

}

<div id="mainContent">
    <div class="inner-toolbar clearfix" style="position:inherit;">
        <ul>
            <li>
                <a href="#" data-bind="events: { click: additem }">کاربر جدید</a>
            </li>
        </ul>
    </div>
    <div data-userman-role="grid">

    </div>
</div>
@section scripts{
    <script src="~/Scripts/Admin/userManagement.js"></script>

    <script>
        $("#mainContent").userManagement({

        });
    </script>
}
