﻿@{
    ViewBag.Title = "مدیریت ‌پزشکان";

}
<h2>مدیریت ‌پزشکان </h2>
<div id="mainContent">
    <div class="inner-toolbar clearfix" style="position:inherit;">
        <ul>
            <li>
                <a href="#" data-bind="events: { click: additem }">کاربر جدید</a>
            </li>
            <li>
                <a href="#" data-bind="events: { click: edititem }">ویرایش</a>
            </li>
            <li>
                <a href="#" data-bind="events: { click: deleteitem }">حذف</a>
            </li>
        </ul>
    </div>
    <div data-userman-role="grid">
    </div>

    <div id="aeWin">
        <div style="margin: 10px;">
            <div class="row" style="margin-bottom:10px">
                <span class="col-sm-1">
                    <label>نام:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="textbox"
                           data-format="string"
                           data-bind="value: selected.name"
                           style="width: 100%">
                </span>
            </div>
            <div class="row" style="margin-bottom:10px">
                <span class="col-sm-1">
                    <label>نام خانوادگی:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="textbox"
                           data-format="string"
                           data-bind="value: selected.fName"
                           style="width: 100%">
                </span>
            </div>
            <div class="row" style="margin-bottom:10px">
                <span class="col-sm-1">
                    <label>شماره همراه:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="textbox"
                           data-format="n"
                           data-bind="value: selected.phoneNum"
                           style="width: 100%">
                </span>
            </div>
            <div class="row" style="margin-bottom:10px">
                <span class="col-sm-1">
                    <label>آدرس:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="textbox"
                           data-format="string"
                           data-bind="value: selected.address"
                           style="width: 100%">
                </span>
            </div>

            <div class="row" style="margin-bottom:10px">
                <span class="col-sm-1">
                    <label>کدملی:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="textbox"
                           data-format="n"
                           data-bind="value: selected.nId"
                           style="width: 100%">
                </span>
            </div>
            <div class="row" style="margin-bottom:10px">
                <span class="col-sm-1">
                    <label>تخصص:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="textbox"
                           data-format="string"
                           data-bind="value: selected.expert"
                           style="width: 100%">
                </span>
            </div>
            <div class="row" style="margin-bottom:10px">
                <span class="col-sm-1">
                    <label>بخش:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="dropdownlist"
                           data-value-primitive="true"
                           data-text-field="secName"
                           data-value-field="secId"
                           data-bind="value: selected.SectionId,
                          source: sectionDataSource" />
                </span>
            </div>
            <div class="row" style="margin-bottom:20px">
                <span class="col-sm-1">
                    <label>تاریخ تولد:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="datepicker"
                           data-culture="fa-IR"
                           data-bind="value: selected.bDate,
                          source: dataSource" />
                </span>
            </div>



            <button class="k-primary" data-role="button"
                    data-bind="events: { click: sync }"
                    style="width: 60px; height: 30px">
                ذخیره
            </button>
            <button data-role="button"
                    data-bind="events: { click: cancel }"
                    style="width: 60px; height: 30px">
                انصراف
            </button>
        </div>
    </div>
</div>
    
@section scripts{
    <script src="~/Scripts/Admin/doctorManagement.js"></script>

    <script>
        $("#mainContent").doctorManagement({

        });
    </script>
}

@*@{
        ViewBag.Title = "مدیریت ‌پزشکان";

    }
    <h2>مدیریت ‌پزشکان </h2>
    <div id="mainContent">
        <div class="inner-toolbar clearfix" style="position:inherit;">
            <ul>
                <li>
                    <a href="#" data-bind="events: { click: additem }">اضافه کردن پزشک</a>
                </li>
                <li>
                    <a href="#" data-bind="events: { click: edititem }">ویرایش</a>
                </li>
                <li>
                    <a href="#" data-bind="events: { click: deleteitem }">حذف</a>
                </li>
            </ul>
        </div>
        <div data-userman-role="grid">
        </div>
        <div id="aeWindow">
            <div style="margin: 10px;">
                <div class="row" style="margin-bottom:10px">
                    <span class="col-sm-1">
                        <label>قیمت:</label>
                    </span>
                    <span class="col-sm-6">
                        <input data-role="numerictextbox"
                               data-format="c"
                               data-min="0"
                               data-bind="value: selected.Price"
                               style="width: 100%">
                    </span>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <span class="col-sm-1">
                        <label>رنگ:</label>
                    </span>
                    <span class="col-sm-6">
                        <input data-role="dropdownlist"
                               data-value-primitive="true"
                               data-text-field="Name"
                               data-value-field="Id"
                               data-bind="value: selected.ColorId,
                              source: colorDataSource" />
                    </span>
                </div>
                <div class="row" style="margin-bottom:20px">
                    <span class="col-sm-1">
                        <label>دسته:</label>
                    </span>
                    <span class="col-sm-6">
                        <input data-role="dropdownlist"
                               data-value-primitive="true"
                               data-text-field="Name"
                               data-value-field="Id"
                               data-bind="value: selected.CategoryId,
                              source: categoryDataSource" />
                    </span>
                </div>
                <button class="k-primary" data-role="button"
                        data-bind="events: { click: sync }"
                        style="width: 60px; height: 30px">
                    ذخیره
                </button>
                <button data-role="button"
                        data-bind="events: { click: cancel }"
                        style="width: 60px; height: 30px">
                    انصراف
                </button>
            </div>
        </div>
    </div>
    @section scripts{
        <script src="~/Scripts/Admin/doctorManagement.js"></script>

        <script>
            $("#mainContent").doctorManagement({

            });
        </script>
    }*@

