﻿@{
    ViewBag.Title = "مدیریت پوشاک";

}

<div id="mainContent">
    <div class="inner-toolbar clearfix" style="position:inherit;">
        <ul>
            <li>
                <a href="#" data-bind="events: { click: additem }">پوشاک جدید</a>
            </li>
            <li>
                <a href="#" data-bind="events: { click: edititem }">ویرایش</a>
            </li>
            <li>
                <a href="#" data-bind="events: { click: deleteitem }">حذف</a>
            </li>
        </ul>
    </div>
    <div data-userman-role="grid">
    </div>
    <div id="aeWindow">
        <div style="margin: 10px;">
            <div class="row" style="margin-bottom:10px">
                <span class="col-sm-1">
                    <label>قیمت:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="numerictextbox"
                           data-format="c"
                           data-min="0"
                           data-bind="value: selected.Price"
                           style="width: 100%">
                </span>
            </div>
            <div class="row" style="margin-bottom:10px">
                <span class="col-sm-1">
                    <label>رنگ:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="dropdownlist"
                           data-value-primitive="true"
                           data-text-field="Name"
                           data-value-field="Id"
                           data-bind="value: selected.ColorId,
                          source: colorDataSource" />
                </span>
            </div>
            <div class="row" style="margin-bottom:20px">
                <span class="col-sm-1">
                    <label>دسته:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="dropdownlist"
                           data-value-primitive="true"
                           data-text-field="Name"
                           data-value-field="Id"
                           data-bind="value: selected.CategoryId,
                          source: categoryDataSource" />
                </span>
            </div>
            <button class="k-primary" data-role="button"
                    data-bind="events: { click: sync }"
                    style="width: 60px; height: 30px">
                ذخیره
            </button>
            <button data-role="button"
                    data-bind="events: { click: cancel }"
                    style="width: 60px; height: 30px">
                انصراف
            </button>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Admin/userManagement.js"></script>

    <script>
        $("#mainContent").userManagement({

        });
    </script>
}
