﻿@{ ViewBag.Title = "مدیریت مبلمان"; }

<div id="mainContent">
    <div style="font-size:38px;color:blue ;font-weight:bolder;margin:15px;background-color:skyblue;padding:10px;border-radius:5px;text-align:center">
        سامانه ی مدیریت مبلمان
    </div>
    <div class="inner-toolbar clearfix" style="position:inherit;">
        <ul>
            <li>
                <a href="#" data-bind="events: { click: additem }">مبل جدید</a>
            </li>
            <li>
                <a href="#" data-bind="events: { click: edititem }">ویرایش</a>
            </li>
            <li>
                <a href="#" data-bind="events: { click: deleteitem }">حذف</a>
            </li>
        </ul>
    </div>


    <div data-userman-role="grid">

    </div>

    <div id="aeWindow">
        <div style="margin: 10px;">
            <div class="row" style="margin-bottom:10px">
                <span class="col-sm-1">
                    <label>قیمت:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="numerictextbox"
                           data-format="c"
                           data-min="0"
                           data-bind="value: selected.Price"
                           style="width: 100%">
                </span>
            </div>
            <div class="row" style="margin-bottom:10px">
                <span class="col-sm-1">
                    <label>رنگ:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="dropdownlist"
                           data-value-primitive="true"
                           data-text-field="Name"
                           data-value-field="Id"
                           data-bind="value: selected.ColorId,
                          source: colorDataSource" />
                </span>
            </div>

            <div class="row" style="margin-bottom:20px">
                <span class="col-sm-1">
                    <label>دسته بندی:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="dropdownlist"
                           data-value-primitive="true"
                           data-text-field="Name"
                           data-value-field="Id"
                           data-bind="value: selected.CategoryId,
                          source: categoryDataSource" />
                </span>
            </div>
            <div class="row" style="margin-bottom:20px">
                <span class="col-sm-1">
                    <label> جنس:</label>
                </span>
                <span class="col-sm-6">
                    <input data-role="dropdownlist"
                           data-value-primitive="true"
                           data-text-field="Name"
                           data-value-field="Id"
                           data-bind="value: selected.MaterialId,
                          source: materialDataSource" />
                </span>
            </div>
            <button class="k-primary" data-role="button"
                    data-bind="events: { click: sync }"
                    style="width: 60px; height: 30px">
                ذخیره
            </button>
            <button data-role="button"
                    data-bind="events: { click: cancel }"
                    style="width: 60px; height: 30px">
                انصراف
            </button>
        </div>
    </div>

</div>
@section scripts{
    <script src="~/Scripts/Admin/SofaManagement.js"></script>

    <script>
    $("#mainContent").SofaManagement({

        });</script>
}
