﻿
@{ ViewBag.Title = "کنترل پنل دانشجویان"; }

<h2>کنترل پنل دانشجویان</h2>

<div id="mainContent">
    <!-- Nav bar - start -->
    <div class="inner-toolbar clearfix" style="position:inherit;">
        <ul>
            <li>
                <a href="#" data-bind="events: { click: additem }">افزودن دانشجو جدید</a>
            </li>
            <li>
                <a href="#" data-bind="events: { click: edititem }">ویرایش دانشجو</a>
            </li>
            <li>
                <a href="#" data-bind="events: { click: deleteitem }">دیلیت</a>
            </li>
        </ul>
    </div>
    <!-- Nav bar - end -->

    <div id="grid" data-userman-role="grid">

        <div id="aeWindow">

            <!-- Firstname -->
            <div class="row" style="margin: auto; margin: 10px">
                <span>نام:</span>
                <input data-role="textbox" data-bind="value: selected.FirstName" style="float: left; text-align: left">
            </div>

            <!-- Lastname -->
            <div class="row" style="margin: auto; margin: 10px">
                <span>نام خانوادگی:</span>
                <input data-role="textbox" data-bind="value: selected.LastName" style="float: left; text-align: left">
            </div>

            <!-- Gender -->
            <div class="row" style="margin: auto; margin: 10px">
                <span>جنسیت:</span>
                <input data-role="textbox" data-bind="value: selected.Gender" style="float: left; text-align: left">
            </div>

            <!-- Student ID -->
            <div class="row" style="margin: auto; margin: 10px">
                <span>شماره دانشجویی:</span>
                <input data-role="textbox" data-bind="value: selected.StudentId" style="float: left; text-align: left">
            </div>

            <!-- Major -->
            <div class="row" style="margin: auto; margin: 10px">
                <span>رشته:</span>
                <input data-role="dropdownlist"
                       data-value-primitive="true"
                       data-text-field="Name"
                       data-value-field="Id"
                       data-bind="value: selected.MajorId, source: MajorDataSource"
                       style="text-align: left; float: left" />
            </div>

            <!-- Univeristy -->
            <div class="row" style="margin: auto; margin: 10px">
                <span>دانشگاه:</span>
                <input data-role="dropdownlist"
                       data-value-primitive="true"
                       data-text-field="Name"
                       data-value-field="Id"
                       data-bind="value: selected.UniversityId, source: UniversityDataSource"
                       style="text-align: left;float: left" />
            </div>

            <!-- Grade -->
            <div class="row" style="margin: auto; margin: 10px">
                <span>معدل:</span>
                <input data-role="numerictextbox"
                       data-min="0"
                       data-max="20"
                       data-bind="value: selected.Grade"
                       style="float: left; text-align: left">
            </div>

            <!-- Buttons -->
            <div class="row" style="margin: auto; margin: 10px">
                <button data-role="button"
                        data-bind="events: { click: sync }"
                        style="width: 180px; background-color: #1565c0; color: white">
                    ذخیره
                </button>
                <button data-role="button"
                        data-bind="events: { click: cancel }"
                        style="width: 180px">
                    انصراف
                </button>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Admin/studentManagement.js"></script>

    <script>$("#mainContent").userManagement({

        });</script>
}